title: Sourdough
description: Free vector tiles for OpenStreetMap data
url: https://sourdough.osm.fyi
baseurl: ""

markdown: kramdown
highlighter: rouge
permalink: /:title/

collections:
  schemas:
    output: true
  examples:
    output: true

exclude:
  - README.md
  - Makefile
  - Gemfile
  - Gemfile.lock
  - package.json
  - package-lock.json
  - node_modules/
  - sourdough/
  - examples/
  - viewer/
